# --- MLFlow ---

MLFlOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_ARTIFACT_STORE=./mlruns

# --- Logs ---

LOG_FILE=./log

# --- Database ---

DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/database_name

# --- OpenAI ---

OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=http://localhost:1234/v1
OPENAI_EMBEDDING_MODEL=cPilotGod/baai-bge-m3-568m-gguf
OPENAI_EMBEDDING_DIMENSIONS=1024
OPENAI_CHAT_MODEL=qwen2.5-7b-instruct-1m
OPENAI_CHAT_MODEL_TEMPERATURE=0.2

# --- Retrieval ---

RETRIEVAL_TOP_K = 5